body,html{
	height: 100%;
}
body{
	display: flex;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	padding-top: 2em;
	padding-bottom: 2em;
}
.form-register{
	width: 100%;
	padding: 1em;

}
.btn{	
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.form-valid{
    border-color: #28a745;
}
.form-valid:focus{
    border-color: #28a745;
    box-shadow: 0 0 0 .2rem rgba(40,167,69,.25);
}
.form-invalid{
    border-color: #dc3545;
}
.form-invalid:focus{
    border-color: #dc3545;
    box-shadow: 0 0 0 .2rem rgba(220,53,69,.25);
}
.alert-invalid{
	display: block; 
}